.field {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: var(--tgui--text_color);
  text-overflow: ellipsis;
}

.field::placeholder {
  color: var(--tgui--secondary_hint_color);
}

.field::-webkit-outer-spin-button,
.field::-webkit-inner-spin-button {
  appearance: none;
}
