.link {
  color: var(--tgui--link_color);
  text-decoration: none;
  border-radius: 3px;
  outline-offset: 2px;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    text-decoration: underline;
  }
}

.link:focus-visible {
  outline: 2px solid var(--tgui--link_color);
}

.icon {
  display: inline-block;
  width: 0.85em;
  height: 0.85em;
  margin-inline-start: 0.15em;
  vertical-align: -0.05em;
}
